{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="container">

    <div class="jumbotron">
        <h1>{% trans %}Placeholder Image Service{% endtrans %}</h1>
        <p>{% trans %}Quick and Simple{% endtrans %}</p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>{% trans %}It's really easy to use{% endtrans %}</h2>
            <p>{% trans with {'%link_start%': '<a href=path("build-online")>', '%link_end%': '</a>'} %}Just use our %link_start%online placeholder building service%link_end% to create your own crafted placeholder image.{% endtrans %}</p>
            <h3>Three simple steps</h3>
            <ul>
                <li>{% trans with {'%link_start%': '<a href=path("build-online")>', '%link_end%': '</a>'} %}With our %link_start%placeholder builder%link_end% create an image{% endtrans %}</li>
                <li>{% trans with {'%link_start%': '<a href=path("build-online")>', '%link_end%': '</a>'} %}Download the generated url or the image itself form the %link_start%our building tool%link_end%{% endtrans %}</li>
                <li>{% trans %}Insert either the url as image's source attribute or the downloaded image{% endtrans %}</li>
            </ul>
            <h3>{% trans %}These are the things you can manipulate{% endtrans %}</h3>
            <ul>
                <li>{% trans %}Of course you can change the printed text itself{% endtrans %}</li>
                <li>{% trans %}Then goes font size{% endtrans %}</li>
                <li>{% trans %}And font color{% endtrans %}</li>
                <li>{% trans %}Certainly you can change placeholder image background color{% endtrans %}</li>
                <li>{% trans %}And the size of the image{% endtrans %}</li>
                <li>{% trans %}You can either download the image or use the url we provide you with{% endtrans %}</li>
            </ul>
            <h3>{% trans %}Help us running{% endtrans %}</h3>
            <p>{% trans %}If you like our service, please, donate to help us run our project.{% endtrans %}</p>
            <div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="BMGKQJGTRACFY">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <div class="col-xs-12">
                <div class="thumbnail">
                    {% set query = url('get-placeholder', {'text': 'Placeholder Example of size 500x300' | trans, 'height': 300, 'width': 500, 'color': '6FBCFF', 'font-color': '555'}) %}
                    <img src="{{ query }}">
                    <div class="caption">
                        <h3>{% trans %}We created this image{% endtrans %}</h3>
                        <p>{% trans %}And we used the following query to create it{% endtrans %}</p>
                        <pre>{{ query }}</pre>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="thumbnail">
                    {% set query = url('get-placeholder', {'text': 'I\'m smaller, just 300x150' | trans, 'height': 150, 'width': 300, 'color': 'B30000', 'font-color': 'CCC', 'font-size': 14}) %}
                    <img src="{{ query }}">
                    <div class="caption">
                        <h3>{% trans %}Need a different size?{% endtrans %}</h3>
                        <p>{% trans %}Simply change a few query parameters{% endtrans %}</p>
                        <pre>{{ query }}</pre>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="thumbnail">
                    {% set query = url('get-placeholder', {'text': 'Add more colors' | trans, 'height': 150, 'width': 300, 'color': 'CFFFBD', 'font-color': 'E014ED'}) %}
                    <img src="{{ query }}">
                    <div class="caption">
                        <h3>{% trans %}These are not all color we know of!{% endtrans %}</h3>
                        <p>{% trans %}Again, couldn't be easier.{% endtrans %}</p>
                        <pre>{{ query }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}